DEF_LOOKUP "p750y" PROCESS_BASE PROCESS_MARKS ALL DIRECTION LTRIN_CONTEXT RIGHT GROUP "Numbers" RIGHT GLYPH "glyph38318"END_CONTEXTAS_POSITIONADJUST_SINGLE GROUP "s1" BY POS DY -250 END_POSEND_ADJUSTEND_POSITION
ENDDEF_LOOKUP "p749y" PROCESS_BASE PROCESS_MARKS ALL DIRECTION LTRIN_CONTEXT RIGHT GROUP "Numbers" RIGHT GLYPH "glyph38317"END_CONTEXTAS_POSITIONADJUST_SINGLE GROUP "s1" BY POS DY -249 END_POSEND_ADJUSTEND_POSITIONEND